#dis_flecha {
  /*FireFox*/
  -moz-appearance: none;
  /*Chrome*/
  -webkit-appearance: none;
}

#label-form{
	font-size: 16px;
}

#zera-MarginEpadding {
  padding: 0rem !important;
  margin: 0rem !important;
  padding-top: 0rem !important;
}

#button-form{
	font-size: 20px;
}

#icon-form{
  padding-top: 0px;
  margin-top: 0px;
}
